/*!
 * le
 */
$blue:    #409EFF !default;
$info:    #909399 !default;
$black:    #333333 !default;

@use "bootstrap";
@use "element-plus/dist/index.css";
.nav-link.active,.show>.nav-link {
    background-color: #efefef;
}

/*app*/
img{
    max-width: 100%;
    max-height: 100%;
}

.ellipsis-line-multi{
    white-space:normal !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ellipsis-line-1{
    -webkit-line-clamp: 1;
}
.ellipsis-line-2{
    -webkit-line-clamp: 2;
}
.ellipsis-line-3{
    -webkit-line-clamp: 3;
}
.ellipsis-line-4{
    -webkit-line-clamp: 4;
}
.ellipsis-line-5{
    -webkit-line-clamp: 5;
}

.ellipsis-line-6{
    -webkit-line-clamp: 6;
}
.ellipsis-line-7{
    -webkit-line-clamp: 7;
}

.ellipsis-line-8{
    -webkit-line-clamp: 8;
}

.ellipsis-line-9{
    -webkit-line-clamp: 9;
}

.ellipsis-line-10{
    -webkit-line-clamp: 10;
}


.ck-content{
    line-height: 1.2rem;
    min-height: 200px;
}

.le-file-view .le-file-view-img{
    cursor: zoom-in;
}

.w-0 {
    width: 0!important
}
.h-0 {
    height: 0!important
}

.pointer-events-none {
    pointer-events: none
}
.pointer-events-all{
    pointer-events: all
}